.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
     rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
       url(../img/hero-small.jpg); //for low end screen eg 1x;
    background-position: top;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    /* it is the parent so tht child elements can be used by specifying absolute positioning*/ 

    @media only screen and (min-resolution : 192dpi) and (min-width: 37.5em) ,
           only screen and  (min-width : 125em/*125em=2000px*/) { // 37.5em = 600px//, indicates or funct //for 2x display screen and screens with >600px screen
      background-image: linear-gradient(to right bottom,
       rgba($color-primary-light, 0.8), 
       rgba($color-primary-dark, 0.8)), 
        url(../img/hero.jpg);

    }

    // @media (min-width : 2000px) { 
    //   background-image: linear-gradient(to right bottom,
    //    rgba($color-primary-light, 0.8), 
    //    rgba($color-primary-dark, 0.8)), 
    //     url(../img/hero.jpg);

    // }

    @include respond(phone){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem; 
      }
      &__logo {
        height: 3.5rem; 
      }
      &__logo:hover {
        animation: moveInRight 3s ease-in-out; 
      }
      &__text-box {
        position: absolute;
        /* absolute so that it can be parented to its parent element ... in our case it is the header*/
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* it translates i.e gets the item or div percentage to be shifted*/
        text-align: center; 
      }

}